@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/*
color:
Primary: FF900E

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
html {
  font-size: 62.5%;
}
.container {
  max-width: 144rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}
.justify-speace-between {
  justify-content: space-between;
}
.align-item-center {
  align-items: center;
}
