/*
- Spacing system
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
/* -------header-section--------- */
.header-section {
  padding: 3.2rem 0 9.6rem 0;
}
.logo-text {
  font-size: 3.2rem;
  color: #000;
  text-decoration: none;
  /* padding: 1.2rem 0; */
}

.main-nav-list {
  list-style: none;
  gap: 3.2rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.main-nav-link {
  text-decoration: none;
  color: #555;
  transition: all 0.3s;
}
.main-nav-link:hover {
  color: #ff900e;
}
